#header {
  background: url(../images/images/bg.jpg) #fff no-repeat center top;
  background-size: cover;
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 10;
  @include sm(height, 564px);
  @include xs-block() {
    //background: url(../images/images/bg-mob.jpg) #fff no-repeat center top;
    //background-size: 100% 100%;
    background-position: 62% top;
    padding-bottom: 175px;
  }
  &:before {
    content: '';
    width: 100%;
    background: url(../images/images/opas-trangle.png) no-repeat;
    position: absolute;
    background-size: cover;
    height: 100%;
    bottom: -40%;
  }
  &:after {
    content: '';
    width: 100%;
    background: url(../images/images/rectangle-white.png) no-repeat;
    position: absolute;
    background-size: cover;
    height: 100%;
    bottom: 0;
  }
  .logo img {
    @include sm-block() {
      max-width: 80px;
      width: 100%;
      height: auto;
    }
  }
  .information {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 35%;
    max-width: 350px;
    @include sm-block() {
      align-items: center;
      padding-top: 140px;
    }
    @include xs(padding-top, 180px);
    p {
      text-align: right;
      font-size: 28px;
      @include sm(font-size, 19px);
      &.red {
        color: $red;
        @include sm-block() {
          color: $blue;
          padding-right: 15px;
        }
      }
      span {
        font-size: 60px;
        font-weight: 600;
        @include sm(font-size, 30px);
        &.more {
          font-size: 80px;
          @include sm(font-size, 46px);
        }
      }
    }
  }



}